.note-info {
    background-color: #a2d5f2;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 1rem;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.note-warning {
    background-color: #ffc107;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 1rem;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.note-error {
    background-color: #dc3545;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 1rem;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.note-success {
    background-color: #28a745;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 1rem;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.note-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
